<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"
        integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js'></script>

    <title>Hello World</title>
</head>

<body>

    <button id="server-1">Trigger Port 8000</button>
    <button>Trigger Port 8001</button>

    <script>

        let socketServer1 = io("ws://localhost:8000");


        $(document).ready(() => {
            $("#server-1").click(() => {
                socketServer1.emit('s1Hit', {
                    Text: "First Server Hit on 8000 Port"
                })
            })
        })

    </script>
</body>

</html>